@import "tailwindcss";




@font-face {
  font-family: 'MohaveBold';
  src: url('/Fonts/mohave-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  scroll-snap-align: start;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MohaveBold', sans-serif;
}

@layer components {
  .card {
    @apply w-350 h-55 bg-white rounded-2xl drop-shadow-[0_10px_10px_rgba(0,0,0,0.2)] m-10 p-5
    justify-start flex 
  }
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-scroll2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.animate-loop-scroll2 {
  animation: loop-scroll2 60s linear infinite;
}
.animate-loop-scroll {
  animation: loop-scroll 50s linear infinite;
}


@layer utilities{
  .paused {
    animation-play-state: paused;
  }
}