@import "tailwindcss";


@font-face {
  font-family: 'MohaveBold';
  src: url('/Fonts/mohave-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MohaveBold', sans-serif;
}
