@import "tailwindcss";




@font-face {
  font-family: 'MohaveBold';
  src: url('/Fonts/mohave-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  scroll-snap-align: start;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'MohaveBold', sans-serif;
}



@layer components {
  .card {
    @apply w-350 h-55 bg-white/80 backdrop-blur-sm  rounded-2xl drop-shadow-[0_10px_10px_rgba(0,0,0,0.2)] m-15 p-5
    justify-start flex 
  }
}


@layer components {
  .tombol {
    @apply relative z-10 cursor-pointer text-white rounded-full px-10 py-4 border-2 border-white outline-none transition-all duration-300;
  }

  .tombol::after {
    content: "";
    @apply absolute left-0 top-0 w-full h-full bg-black rounded-full;
    z-index: -1;
  }

  .tombol::before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    border-radius: 60px;
    opacity: 0;
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
  }

  .tombol:hover::before {
    opacity: 1;
  }

  .tombol:active::after {
    background: transparent;
  }

  .tombol:active {
    @apply text-black font-bold;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}

@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop-scroll2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.animate-loop-scroll2 {
  animation: loop-scroll2 40s linear infinite;
}
.animate-loop-scroll {
  animation: loop-scroll 50s linear infinite;
}


@layer utilities{
  .paused {
    animation-play-state: paused;
  }
}